@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('fonts/OpenSans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
	font-weight: lighter;
}

@font-face {
    font-family: 'KozGoPro';
    src: url('fonts/KozGoPro/KozGoPro-Regular.otf');
}

@font-face {
    font-family: 'KozGoPro-Bold';
    src: url('fonts/KozGoPro/KozGoPro-Bold.otf');
	font-weight: bold;
}

@font-face {
    font-family: 'KozGoPro-Light';
    src: url('fonts/KozGoPro/KozGoPro-ExtraLight.otf');
	font-weight: lighter;
}

@font-face {
    font-family: 'KozGoPro-Medium';
    src: url('fonts/KozGoPro/KozGoPro-Medium.otf');
}

@font-face {
    font-family: 'KozGoPro-Heavy';
    src: url('fonts/KozGoPro/KozGoPro-Heavy.otf');
	font-weight: bolder;
}

@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}

@media all and (min-width: 1350px) {
.respnavlink{
    font-size: 15px;
  }
 .desktoppullleft{
 margin-left:-25px;
 }
}

@media all and (max-width: 1349px) and (min-width: 1000px) {
.respnavlink{
    font-size: 1vw;
  }
   .desktoppullleft{
		margin-left:-25px;
	}
}

@media all and (max-width: 999px) and (min-width: 800px) {
.respnavlink{
    font-size: 1vw;
  }
}

@media all and (max-width: 799px) and (min-width: 1px) {
.respnavlink{
    font-size: 1vw;
  }
}


@media (min-width:1200px){
 .desktop-only {
        display:block !important;
    }
}

@media (max-width:1190px){
  .mobile-only {
        display:block !important;
    }
 .desktop-only {
        display:none !important;
    }
}


@media (min-width:896px){
	.navbar-nav {
		display: table;
		width: 100%;
	}

	.navbar-nav>li {
		display: table-cell;
		width: 14.277%;  /* (100 / numItems)% */
		text-align: center;
		white-space: nowrap;
	}​
}
.navbar-fixed-top {
 
}

.navbar-fixed-top, .navbar-fixed-bottom {
  position: relative; /* this can also be static */
}

.navbar .navbar-nav  :hover{
  text-decoration:underline;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color:#5C5C5C;
  background: url('../img/navbarbg.png') center repeat-x;
  background-size: auto 100%;
}

.bodyheaderorange{
text-align:center;
font-family: 'KozGoPro-Light', sans-serif;
color:#f65314;
font-size:32px;
}

.fa-ul>li:before {    
font-family: 'FontAwesome';
content: "\f054";
margin:0 5px 0 -35px;
color:#373737;
}

   .headertitle1{
   font-family: 'KozGoPro-Bold', sans-serif;
   color:#333333;
   font-size:24px;
   padding-right:5px;
   }

.tick{
margin-top:5px;
color:green;
margin-right:20px;
font-size:18px;
float:left;
}
.bodyheaderblack{
text-align:center;
font-family: 'KozGoPro-Heavy', sans-serif;
color:#333333;
font-size:32px;
}

.bodyfont{
font-family: 'OpenSans', sans-serif;
color:#373737;
font-size:18px;
line-height:150%;
margin-bottom:25px;
}

.guarantee{
font-family: 'OpenSans-Bold', sans-serif;
color:#ffffff;
font-size:24px;
text-align:center;
margin-top:12px;
}

.testimonial{
background-color:#F2F2F2;
margin-top:30px;
border-radius: 4px;
border:1px solid #BCBCBC;
padding-left:0px;
padding-right:0px;
}

.quote{
display:block;
margin-left:auto;
margin-right:auto;
width:70%;
line-height: 170%;
text-align:left;
font-family: 'OpenSans-Italic', sans-serif;
color:#525252;
font-size:17px;
}

.quoteperson{
display:block;
margin-left:auto;
margin-right:auto;
width:70%;
font-family: 'OpenSans-Bold', sans-serif;
color:#525252;
font-size:17px;
margin-top:20px;
}

.testimonialtitle{
text-align:center;
margin-top:5px;
font-family: 'KozGoPro-Heavy', sans-serif;
color:#333333;
font-size:28px;
}

.guaranteecontainer{
padding-top:4px;
width:100%;
background-color:#545454;
height:62px;
}

.bodyfontbold{
text-align:center;
line-height: 150%;
font-family: 'OpenSans-Bold', sans-serif;
color:#373737;
font-size:18px;
}

.bodyfontbig{
font-family: 'OpenSans-Bold', sans-serif;
color:#373737;
font-size:24px;
line-height:150%;
margin-top:25px;
margin-bottom:25px;
}

.bodytitle2{
    font-family: 'OpenSans-Bold', sans-serif;
    color:#f65314;
    font-size:26px;
}


.bodytitle{
    font-family: 'KozGoPro-Medium', sans-serif;
    color:#f65314;
    font-size:32px;
}

.faqfont{
font-family: 'OpenSans', sans-serif;
color:#373737;
font-size:18px;
line-height:150%;
}

.faqtitle2{
    font-family: 'OpenSans-Bold', sans-serif;
    color:#f65314;
    font-size:19px;
}


.faqtitle{
    font-family: 'KozGoPro-Light', sans-serif;
    color:#f65314;
    font-size:27px;
}

.bodytitle3{
line-height:120%;
font-size:27px;
color:#ef4f11;
font-family: 'KozGoPro-SemiBold', sans-serif;
}

.bodytitlewhite{
    font-family: 'KozGoPro-Bold', sans-serif;
    color:#ffffff;
    font-size:32px;
}

input.lessrounded {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    padding: 8px 14px;
    font-size:16px;
    color:#6e6e6e;
    outline: 0;
    -webkit-appearance: none;
}

input.lessrounded:focus {
    border-color: #339933;
}


select.lessrounded {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    padding: 8px 14px;
    font-size:16px;
    color:#6e6e6e;
    outline: 0;
    -webkit-appearance: none;
}

select.lessrounded:focus {
    border-color: #339933;
}


textarea.lessrounded {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    padding: 8px 14px;
    font-size:16px;
    color:#6e6e6e;
    outline: 0;
    -webkit-appearance: none;
}

textarea.lessrounder:focus {
    border-color: #339933;
}


input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
   outline: 0;
    -webkit-appearance: none;
}

input.rounded:focus {
    border-color: #339933;
}


select.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
   outline: 0;
    -webkit-appearance: none;
}

select.rounded:focus {
    border-color: #339933;
}


textarea.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
   outline: 0;
    -webkit-appearance: none;
}

textarea.rounded:focus {
    border-color: #339933;
}

.formcontainer{
    background-color:#EBEBEB;
     border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    padding: 20px;
   outline: 0;
    -webkit-appearance: none;


}

.othercontainer{
    background-color:#EBEBEB;
     border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 40px 20px;
   outline: 0;
    -webkit-appearance: none;
}

table{
     border: 1px solid #DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   outline: 0;
    -webkit-appearance: none;


}

td{
     border: 1px solid #DCDCDC;
     padding:20px;
}

.hrline1{
height:1px;
background:#BCBCBC;
margin-bottom:40px;
}

.hrline2{
height:10px;
width:183px;
background:url('../img/hrline.png') no-repeat top center;
margin-bottom:40px;
border:none !important;
}

.hrline3{
height:11px;
width:185px;
background:url('../img/hrline2.png') no-repeat top center;
margin-bottom:10px;
border:none !important;
}
.linkicon{
color:grey;
margin-right:20px;
width:16px;
}
.homewell{
margin-top:30px;
border-radius: 4px;
background-color:#DDDDDD;
border:1px solid #BCBCBC;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}

.extrabodyfont{
margin-top:25px;
margin-bottom:30px;
font-family: 'KozGoPro-Heavy', sans-serif;
color:#f65314;
font-size:20px;
}

.inlinelink{
margin-left:20px;
font-family: 'OpenSans-Bold', sans-serif;
color:#373737;
font-size:18px;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 3px;
   font-size: 19px;
   font-family: 'OpenSans', sans-serif;
   color:#3c3c3c;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url('../img/arrow.png') no-repeat right white;
   border: 1px solid #ccc;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   -moz-box-shadow: 2px 2px 3px #666;
   -webkit-box-shadow: 2px 2px 3px #666;
   box-shadow: 2px 2px 3px #666;
   font-size: 19px;
   font-family: 'OpenSans', sans-serif;
   color:#3c3c3c;
   padding: 2px 7px;
   outline: 0;
   -webkit-appearance: none;
   }