<div class="navbar navbar-inverse" style="height:110px;margin-bottom:0px;border-radius: 0px;border:0px solid; background-color:#1F1F1F;background-image: url('img/footerbg1.png'); background-repeat: repeat-x;">
	<div class="container">
		<div class="row" style="margin-top:20px;">
			<div class="col col-lg-6 col-sm-6 text-left">
				<div class="row" style="margin-top:10px;margin-bottom:0px;">
					<div class="col col-lg-2 col-sm-2 text-left"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:12px;"><a style="color:inherit;text-decoration: none;" href="#/home">Home</a></h5></div>
					<div class="col col-lg-2 col-sm-2 text-left" style="padding-left:0px;"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:12px;"><a style="color:inherit;text-decoration: none;" href="#/home">US Company</a></h5></div>
					<div class="col col-lg-2 col-sm-2 text-left"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:12px;"><a style="color:inherit;text-decoration: none;" href="#/home">US Bank</a></h5></div>
					<div class="col col-lg-2 col-sm-2 text-left"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:12px;"><a style="color:inherit;text-decoration: none;" href="#/home">About Us</a></h5></div>
					<div class="col col-lg-2 col-sm-2 text-left"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:12px;"><a style="color:inherit;text-decoration: none;" href="#/home">Contact Us</a></h5></div>
					<div class="col col-lg-2 col-sm-2 text-left"></div>
				</div>
				<div class="row">
					<div class="col col-lg-10 col-sm-10 text-left"><h5 style="font-family: 'OpenSans', sans-serif;color:#d3d3d3;font-size:14px;">&copy; 2015 GlobesCorp.com, all rights reserved</h5></div>
					<div class="col col-lg-2 col-sm-2 text-left"></div>
				</div>
			</div>
			<div class="col col-lg-3 col-sm-3 text-center">
				<h1><img class="img-responsive" src="img/logo.png" style="margin-top:-10px;opacity: 0.4;filter: alpha(opacity=40);"/></h1>
			</div>
			<div class="col col-lg-3 col-sm-3 text-right">
				<h1>LOGO HERE</h1>
			</div>
		</div>
	</div>
</div>
