<div class="navbar navbar-inverse" style="height:80px;margin-bottom:0px;border-radius: 0px;border:0px solid; background-color:#4C4C4C;background-image: url('img/footerbg2.png'); background-repeat: repeat-x;">
	<div class="container">
		<div class="row" style="margin-top:15px;">
			<div class="col col-lg-4 col-sm-4 text-left">
				<div class="row">
					<div class="col col-lg-3 col-sm-3 text-left" style="padding-right:0px;margin-right:0px;"><img class="img-responsive pull-left margin-top:-2px;" src="img/webcam.png"/> </div>
					<div class="col col-lg-9 col-sm-9 text-left" style="padding-left:0px;margin-left:0px;"><p style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;margin-bottom:2px;margin-top:3px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
				</div>
			</div>
			<div class="col col-lg-4 col-sm-4 text-center" style="margin-top:-4px;">
				<div class="row">
					<div class="col col-lg-4 col-sm-4 text-left"><img class="img-responsive pull-right" src="img/phone2.png"/> </div>
					<div class="col col-lg-8 col-sm-8 text-left" style="padding-left:0px;margin-left:0px;"><p style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;margin-bottom:2px;margin-top:3px;">CALL US</p><p style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:18px;margin-top:0px;">800 888 1111</p></div>
				</div>
			</div>
			<div class="col col-lg-4 col-sm-4 text-right">
				<div class="row">
					<div class="col col-lg-4 col-sm-4 text-left"><img style="margin-top:-5px;" class="img-responsive pull-right" src="img/email.png"/></div>
					<div class="col col-lg-8 col-sm-8 text-left" style="padding-left:0px;margin-left:0px;"><p style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;margin-bottom:2px;">EMAIL US</p><p style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:18px;margin-top:0px;">contactus@GlobesCorp.com</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
