<div class="jumbotron" style="margin-bottom:0;background-color:white;padding-bottom:5px;padding-top:5px;">
    <div class="container">
      <div class="row">
        <div class="col col-lg-6 col-sm-6 text-left">
          <img src="img/logo.png"style="margin-top:15px;"/>          
        </div>
		<div class="col col-lg-6 col-sm-6 text-right">     
			<div class="row">
				<div class="col col-lg-10 col-sm-10 text-right">
				  <h5 style="font-family: 'KozGoPro', sans-serif;color:#333333;font-weight:bold;font-size:24px;padding-right:5px;" ><strong>100% Satisfaction Guaranteed</strong></h5>   
				</div>
				<div class="col col-lg-2 col-sm-2 text-left" style="padding-left:0px;padding-right:0px;">
				<h5 style="font-family: 'OpenSans', sans-serif;color:#696969;font-size:18px;"><img src="img/signin.png"/> Sign in</h5>
				</div>
			</div>
			<div class="row">
				<div class="col col-lg-4 col-sm-4 text-right">
				</div>
				<div class="col col-lg-8 col-sm-8 text-right">
				<h5 style="font-family: 'OpenSans', sans-serif;font-weight:bold;color:#f65314;font-size:26px;"><img style="margin-top:-15px;" src="img/phone.png"/> 800 888 1111</h5>   
				</div>
			</div>
        </div>
      </div>
    </div> 
</div>