
<nav class="navbar navbar-inverse" role="navigation" style="height:58px;border-radius: 0px; border:0px; background-color:#5C5C5C;background-image: url('img/navbarbg.png'); background-repeat: repeat-x;">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="margin-top:5px;color:white;" href="#/home">Home</a>
      
    </div><!-- /.container -->
</nav><!-- /.navbar -->