
<nav class="navbar navbar-inverse" role="navigation" style="height:58px;border-radius: 0px; border:0px; background-color:#5C5C5C;background-image: url('img/navbarbg.png'); background-repeat: repeat-x;">
    <div class="container">
    	<div class="row" style="margin-top:17px;">
	    <div class="col col-lg-3 col-sm-3 text-left"><a style="margin-right:35px;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-home fa-lg"></i></a><a class="pull-right" style="margin-right:40px;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-building"></i> US COMPANY</a></div>
	     <div class="col col-lg-2 col-sm-2 text-left"><a style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-bank"></i> US BANK</a></div>
	     <div style="margin-left:-30px;" class="col col-lg-2 col-sm-2 text-left"><a style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-user"></i> ABOUT US</a></div>
	     <div style="margin-left:-30px;" class="col col-lg-2 col-sm-2 text-left"><a style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-globe"></i> WHY DELAWARE?</a></div>
	     <div style="margin-left:30px;" class="col col-lg-1 col-sm-1 text-left"><a style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-question"></i> FAQS</a></div>
	     <div style="margin-right:-30px;" class="col col-lg-2 col-sm-2 text-right"><a style="font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:16px;" href="#/home"><i class="fa fa-envelope"></i> CONTACT US</a></div>
	    </div>
    </div><!-- /.container -->
</nav><!-- /.navbar -->