<!-- CONTENT
   =================================-->
<div class="container" ng-controller="about_controller" style="margin-top:60px;margin-bottom:60px">
   <div class="row">
      <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
         <h1 class="bodytitle" >
         GLOBESCORP.COM: YOUR TICKET TO THE LARGEST MARKETPLACE ON EARTH, IN 24 HOURS
         <h1>
         <p class="bodyfont">Let’s face it – if you haven’t already found a great reason to break in to the US market with your product or service – chances are it won’t take much looking to find one. Americans are ambitious, curious, genuine lovers of new products and services, and above all, Americans are consumers. And consumers love to buy. 
         </p>
         <div class="well" style="margin-top:35px;margin-bottom:45px;">
            <p class="bodyfont">However – there are quite a few rules and regulations in place for organizations to start selling in the US – and in this age of uncertainty, these have only increased. 
            </p>
            <p class="bodyfont" style="line-height:170%;font-weight:bold;color:#f65314;">Do YOU have time to fly to the US to register a company or open a bank account? 
               Do YOU have time to sign a stack of forms and organize everything?
            </p>
         </div>
		 <div class="row" style="margin-bottom:25px;">
         <div class="col-md-1">
					<i class="fa fa-check tick"></i>
				</div>
         <div class="col-md-11"><p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;">This is why GlobesCorp is your most cost effective, and efficient option to form your US company and open your US bank account, without you having to set foot in The States at all.</p>
         </div>
		 <div class="col-md-1">
					<i class="fa fa-check tick"></i>
				</div>
         <div class="col-md-11"><p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;">And what’s more, you can be incorporated in the tax-friendly state of Delaware in just 24 hours.</p>
		</div>
		<div class="col-md-1">
					<i class="fa fa-check tick"></i>
				</div>
         <div class="col-md-11"><p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;">If you were to hire an international accountant to help you with this, their fees would be upwards of $5,000. And you’d still have that tall pile of forms to sign.</p>
		</div>
		<div class="col-md-1">
					<i class="fa fa-check tick"></i>
				</div>
        <div class="col-md-11"> <p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;">And the cheap online offers out there are not an option – there’s probably even more work involved – and you’ll probably never see your money again anyway.
         </p>
		 </div>
		 <div class="col-md-12">
         <p class="bodyfontbold" >To get your start in the US market in 24 hours, <font style="color:#f65314;">click here</font></p>
		 </div>
		 </div>
      </div>
      <div class="col-md-4">
         <div class="well homewell" >
            <div class="row">
               <div class="col-md-12">
                  <div style="margin-top:-19px;width:100%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;">
                     <p style="font-family: 'KozGoPro-Bold', sans-serif;color:#3b3a3a;font-size:28px;text-align:center;margin-top:18px;">START A BUSINESS</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <br/>
                  <div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                     <select>
                        <option selected value="select">Select entity</option>
                     </select>
                  </div>
                  <br/>
                  <a href="#/order/pick1"><img src="img/button2.png" style=" display: block;margin-left:auto;margin-right:auto;"/></a>
                  <br/>
                  <br/>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="guaranteecontainer">
                     <p class="guarantee">100% GUARANTEE</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="well testimonial">
            <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro-Light', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
            <hr style="width:200px;height:1px;background:#BCBCBC;"/>
            <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
            <br/>
            <p class="quote"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt..<i class="fa fa-quote-right"></i></p>
            <p class="quoteperson">Roger Boothman</p>
            <p style="text-align:center;margin-top:30px;">
               <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/>
            </p>
            </br>
            <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
         </div>
      </div>
   </div>
</div>
<!-- /CONTENT ============-->