<div class="row" style="height:315px;;margin-top:-20px;background: url('img/bankbanner.jpg') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="col-md-12">
        <div class="desktop-only" style="margin-top:190px;width:100%;"></div>
        <h1 class="bodytitlewhite text-center" style="text-shadow: 1px 1px black;margin-top:100px;margin-bottom:0px">GET A US BANK ACCOUNT</h1>
        <h1 class="bodytitlewhite text-center" style="margin-top:4px">WITHOUT LEAVING THE COUNTRY</h1>
    </div>
</div>
<!-- CONTENT
=================================-->
<div class="container" ng-controller="bank_controller" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<p class="bodyfont" style="margin-bottom:25px;">Your US business operations could hardly be considered to be complete, without having a US business bank account.Since September 11, many US laws have been tightened up including those regarding non-US residents opening US bank accounts – without the right information, it has become almost impossible to simply open one yourself, even if you were attend a US bank in person.
					</p>

					<p class="bodytitle2" style="margin-bottom:25px;font-size:20px;">And here’s what you’d probably be asked for:</p>
				</div>
					 </div>
		 <div class="row">
			

           <div class="col-md-1 col-xs-1">
				<i class="fa fa-check tick"></i>
			</div>
				<div class="col-md-11 col-xs-10">
				<p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold"> US Social Security Number
				</p>
				</div>
						 </div>
		 <div class="row">

            <div class="col-md-1 col-xs-1">
				<i class="fa fa-check tick"></i>
			</div>
				<div class="col-md-11 col-xs-10">
				<p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold">US Street Address</p>
				</div>
						 </div>
		 <div class="row">
            <div class="col-md-1 col-xs-1">
				<i class="fa fa-check tick"></i>
			</div>
				<div class="col-md-11 col-xs-10">
				<p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold">
                Notarized Documentation
				</p>
				</div>
						 </div>
		 <div class="row">
            <div class="col-md-1 col-xs-1">
				<i class="fa fa-check tick"></i>
			</div>
				<div class="col-md-11 col-xs-10">
				<p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold">
                Your passport
				</p>
				</div>
						 </div>
		 <div class="row">
            <div class="col-md-1 col-xs-1">
				<i class="fa fa-check tick"></i>
			</div>
				<div class="col-md-11 col-xs-10">
				<p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold">
                Another form of ID such as your driver’s license
				</p>
				</div>
						 </div>
		 <div class="row">
		  
			<div class="col-md-12">
            <hr class="hrline1"/>
            <h1 class="bodyheaderorange">LET US GET YOUR US BANK ACCOUNT<h1>
            <h1 class="bodyheaderblack" style="margin-top:-15px;">ORGANIZED FOR YOU</h1>
            <hr class="hrline2"/>
			</div>
			<div class="col-md-12">
            <p class="bodyfont" style="margin-bottom:35px;">If you’ve been doing business in the States without a US business account, you’ll already be all too familiar with the long waits to get your funds transferred to your country, and the steep fees involved for every transaction.
            </p>
            <p class="bodyfont" style="margin-bottom:35px;">And your US customers can’t deposit checks or pay by credit card. Why make it hard for them to give you money?
            </p>
			


            <p class="bodytitle" style="margin-bottom:45px;font-size:19px;color:#373737;font-weight:bold">Here’s 7 reasons why you should allow us to organize your US bank account today:</p>
			</div>
			</div>


            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/dial.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">Premium high speed service – you’ll have your own US bank account within 8 to 9 weeks – much faster than other online services
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/moneybag.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        No minimum deposit required
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/visa.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        Visa Debit card shipped to you on opening of account
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/laptop2.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        Full access to Internet Banking
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/cardholder.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        No monthly account keeping fees as long as you keep a very mo dest sum in the account
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/institution.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">We use Bank Of America – founded in 1904 – no fly-by-night here-today-gone-tomorrow operators
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/pages.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">

                        You do not even need to visit the USA to make this happen – we will take care of all the paperwork and simply send you your documentation and Visa Debit card!
                    </p>
                </div>
            </div>

			<div class="row">
				<div class="col-md-12 col-xs-12">
					<hr class="hrline1"/>
					<h1 class="bodyheaderorange">GET A US BANK ACCOUNT<h1>
					<h1 class="bodyheaderblack" style="margin-top:-15px;">WITHOUT EVER LEAVING THE COUNTRY</h1>
					<hr class="hrline2"/>
				</div>
				</div>
				<div class="row">
			
				<div class="col-md-12 col-xs-12">
					<p class="bodytitle2" style="margin-bottom:25px;font-size:20px;">The requirements for setting up your Bank Of America Business Account are very simple:</p>
				</div>
				</div>
				<div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div><div class="col-md-11 col-xs-10"><p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;font-weight:bold"> We need your passport or a certified copy to open the account on your behalf</p>
				</div>
				</div>
				<div class="row">

			<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div><div class="col-md-11 col-xs-10"><p class="bodyfont" style="width:90%;float:left;margin-bottom:35px;font-weight:bold"> It only takes 8 to 9 weeks which is the quickest you’ll find online </p>
				</div>
</div>
				<div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div><div class="col-md-11 col-xs-10"><p class="bodyfont" style="width:90%;float:left;margin-bottom:25px;font-weight:bold">
                A mere $100 deposit is all that’s required, no need to invest thousands </p>
				</div>
</div>
				<div class="row">
				<div class="col-md-12 col-xs-12">
				<p class="bodyfont" style="margin-bottom:25px;">It’s that simple! And if you were to hire an accountant and try to organize all this yourself, their fees would come to at least $5,000. Not to mention all the paperwork you’d have to wade through, signature after signature, time and money wasted when we can do it all for you.
				</p>
				<p class="bodyfont" style="margin-bottom:25px;">But this is important:Other operators can open severely limited accounts, high initial deposit and transfer requirements, making doing business difficult and frustrating. However, and this is important: You will receive a fully operational Bank Of America Bank Account just as if you were physically operating in the US.
				</p>
				<hr style="height:1px;background:#BCBCBC;" />
				<p class="bodytitle3" style="margin-bottom:0px;">The longer you wait, the more business passes you buy in the world’s largest consumer economy. <font class="bodytitle3" style="margin-top:7px;color:#333333;font-size:19px">– Why fiddle around for hours with cheap do-it-yourself kits, especially when one mistake on a form could kill the entire deal.</font></p>
				<br/><br/>
				<div style="margin-bottom:25px;" class="col-md-12 text-center"><img class="img-responsive" src="img/bankblurb.png" /></div>
				<div style="margin-bottom:25px;" class="col-md-12 text-center"><img class="img-responsive" src="img/bankbutton.png" /></div>
				</div>
			</div>

        </div>
        <div class="col-md-4">        
			<div class="well homewell" style="margin-top:0px;" >
            <div class="row">
                <div class="col-md-12"><div style="margin-top:-19px;width:100%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;">
					<p style="font-family: 'KozGoPro-Bold', sans-serif;color:#3b3a3a;font-size:28px;text-align:center;margin-top:18px;">OPEN ACCOUNT</p>
				</div></div>
            </div>
             <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <img style="display: block;margin-left: auto;margin-right: auto;" class="img-responsive" src="img/bankofamericablurb.png" />
                        <br/>
                        <a href="#/order/pick1"><img src="img/button2.png" style="display: block;margin-left: auto;margin-right: auto;" /></a>
                        <br/>
                        <br/>
                    </div>
                </div>
            <div class="row">
                  <div class="col-md-12"><div class="guaranteecontainer"><p class="guarantee">100% GUARANTEE</p></div></div>
            </div>
            </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro-Light', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr class="hrline3"/>
                 <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
                 <p class="quote"><i class="fa fa-quote-left" style="color:#B8B8B8;"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt.. <i style="color:#B8B8B8;" class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:40px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             <p style="text-align:center;margin-top:30px;"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->