<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-lg-8">
      <h2>Alumni Portal View</h2>
      <ol class="breadcrumb">
         <li>
            <a href="index.html">Home</a>
         </li>
         <li class="active">
            <strong>Overview</strong>
         </li>
      </ol>
   </div>
   <div class="col-lg-4">
      <br>
      <br>
   </div>
</div>
<div ng-show="tiles_loading" class="row">
   <alert type="info" >Loading Please wait....</alert>
</div>
<div ng-hide="tiles_loading"  class="wrapper wrapper-content animated fadeInRight">
   <div class="ibox row ">
      <div style="margin-bottom:20px;"ng-repeat="tile in tiles" class="col-lg-3">
         <div  class="item">
            <div class="item-content">
               <div ng-if="tile.type == 'DonationCampaign'" class="posts">
                  <a href="#/donations/detail/{{tile.id}}">
                     <div class="item_feature_img">
                        <div ng-class="{ 'active_image_container' : tile.status=='active',  'pending_image_container' : tile.status=='pending' , 'retired_image_container' : tile.status=='retired'}">
                           <img class="square_image" ng-src="{{tile.image| donation_image}}" alt="">
                        </div>
                        <div class="item_feature_img_content">
                           <div class="item_top_icon">
                              <button ng-show="tile.highlighted ==1" type="button" class="item_fav_btn"><img src="img/fav_btn.png" alt=""> </button> 
                              <div ng-show="tile.highlighted ==0" style="margin-bottom:10px;"><br></div>
                           </div>
                           <div class="item_bottom_info">
                              <h1>{{tile.title | characters:25 :true}}</h1>
                           </div>
                        </div>
                     </div>
                  </a>
                  <p class="item_text"> {{tile.description | characters:150 :true}}</p>
                  <div class="info_sec">
                     <ul>
                        <li>{{tile.end_date| dateToISO | date:'MMM yy'}} <span> DATE</span> </li>
                        <li>{{tile.target}} <span>TARGET</span> </li>
                        <li>{{tile.raised}} <span>RAISED</span> </li>
                     </ul>
                  </div>
                  <div class="item_btn">
                     <a ng-href="#/donations/detail/{{tile.id}}"style="padding-left:25px;padding-right:25px;margin-right:10px;" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> View </a>
                     <a ng-href="#/donations/edit/{{tile.id}}" style="padding-left:25px;padding-right:25px;"class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                  </div>
                  <br>
               </div>
               <div ng-if="tile.type == 'Usergroup'" class="posts">
                  <a href="#/groups/{{tile.id}}">
                     <div class="item_feature_img">
                        <div ng-class="{ 'active_image_container' : tile.privacy=='open',  'pending_image_container' : tile.privacy=='invite' , 'retired_image_container' : tile.privacy=='private'}">
                           <img class="square_image" ng-src="{{tile.image | group_image}}" alt="">
                        </div>
                        <div class="item_feature_img_content">
                           <div class="item_top_icon">
                              <button ng-show="tile.highlighted ==1" type="button" class="item_fav_btn"><img src="img/fav_btn.png" alt=""> </button> 
                              <div ng-show="tile.highlighted ==0 || !tile.highlighted" style="margin-bottom:10px;"><br></div>
                           </div>
                           <div class="item_bottom_info">
                              <h1>{{tile.name  | characters:25 :true}}</h1>
                           </div>
                        </div>
                     </div>
                  </a>
                  <p class="item_text"> {{tile.description | characters:150 :true}} </p>
                  <div class="info_sec">
                     <ul>
                        <li style="width:50% !important">{{tile.created_at| dateToISO | date:'MMM yy'}} <span> DATE</span> </li>
                        <li style="width:50% !important">{{tile.groupmember_count}} <span>MEMBERS</span> </li>
                     </ul>
                  </div>
                  <div class="item_btn">
                     <a ng-href="#/groups/{{tile.id}}"style="padding-left:25px;padding-right:25px;margin-right:10px;" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> View </a>
                     <a ng-href="#/groups/edit/{{tile.id}}" style="padding-left:25px;padding-right:25px;"class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                  </div>
                  <br>
               </div>
               <div ng-if="tile.type == 'OrganizationEvent'" class="posts">
                  <a href="#/events/detail/{{tile.id}}">
                     <div class="item_feature_img">
                        <div ng-class="{ 'active_image_container' : tile.status=='active',  'pending_image_container' : tile.status=='pending' , 'retired_image_container' : tile.status=='retired'}">
                           <img class="square_image" ng-src="{{tile.image | event_image}}" alt="">
                        </div>
                        <div class="item_feature_img_content">
                           <div class="item_top_icon">
                              <button ng-show="tile.highlighted ==1" type="button" class="item_fav_btn"><img src="img/fav_btn.png" alt=""> </button> 
                              <div ng-show="tile.highlighted ==0" style="margin-bottom:10px;"><br></div>
                           </div>
                           <div class="item_bottom_info">
                              <h1>{{tile.title | characters:25 :true}}</h1>
                           </div>
                        </div>
                     </div>
                  </a>
                  <p class="item_text"> {{tile.description | characters:110 :true}}<br>
                     <i class="fa fa-map-marker"></i>{{tile.location | characters:30 :true}}
                  </p>
                  <div class="info_sec">
                     <ul>
                        <li style="width:50%">{{tile.start_date| dateToISO | date:'MMM yy'}} <span> DATE</span> </li>
                        <li style="width:50%">{{tile.attendees.length}} <span>ATTENDEES</span> </li>
                     </ul>
                  </div>
                  <div class="item_btn">
                     <a ng-href="#/events/detail/{{tile.id}}"style="padding-left:25px;padding-right:25px;margin-right:10px;" class="btn btn-primary btn-sm"><i class="fa fa-folder"></i> View </a>
                     <a ng-href="#/events/edit/{{tile.id}}" style="padding-left:25px;padding-right:25px;"class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                  </div>
                  <br>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
