<div class="row" style="height:315px;width:100%;margin-top:-20px;margin-right:0px;margin-left:0px;padding:0px;background-image: url('img/companybanner.jpg');background-repeat: no-repeat;background-position: center;background-size: 100% auto; ">

    <div class="col-md-12">
        <h1 class="bodytitlewhite text-center" style="text-shadow: 1px 1px black;margin-top:190px;margin-bottom:0px">YOU COULD BE DOING BUSINESS IN THE WORLDS BIGGEST MARKET PLACE</h1>
        <h1 class="bodytitlewhite text-center" style="text-shadow: 1px 1px black;margin-top:4px">JUST 24 HOURS FROM NOW</h1>
    </div>

</div>
<!-- CONTENT
=================================-->
<div class="container" ng-controller="company_controller" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <p class="bodyfont" style="margin-bottom:25px;">You’ve found a great business opportunity in The States – it might even be the opportunity of a lifetime. And a US Company would make things a lot easier – but you don’t have weeks to spare, to work with a US based accountant, to set up your structure. By then it’ll be too late.
            </p>

            <p class="bodyfont" style="margin-bottom:25px;">This is why we guarantee your US Company will be set up and operational within 24 hours. We’ll take care of all the paperwork, register your company, and get you up and running in the US…</p>

            <p class="bodytitle" style="margin-bottom:25px;font-size:19px;">And you don’t even have to set foot on US soil for a minute</p><p class="bodyfont" style="margin-bottom:25px;">
It’s true – we can do all the legwork, while you keep doing what you do best – running your business. And there’s no reason why you can’t expand that business into the USA – while avoiding the issues and delays that plague non-US businesses trying to make money in America.</p>
            <img class="img-responsive" src="img/companyblurb.png"/>
            <br/>
            <br/>
            <p class="bodytitle" style="margin-bottom:25px;font-size:19px;">Here's what you get as part of the service:</p>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/headphone.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">Free 15 minute phone consultation with our expert CPA – to advise you on everything you need to know about running a US company
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/24hr.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">24-hr service – get your US company up and running fast
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/home.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">US company formation for non-US residents without having to personally visit the USA
                    </p>
                </div>
            </div>
             <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/page.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">You’ll be incorporated in Delaware – the most tax-friendly state in the US
                    </p>
                </div>
            </div>
             <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/guarentee.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">Certificate Of Formation with a Certified Copy
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/cash.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">EIN – Employer Identification Number – Required for taxation purposes – even if you never pay a cent of tax to the US
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/writing.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">Free Registered Agent for 12 months – As your registered agent, we will complete and file all the paperwork necessary to manage your US Corporation, it’s all done for you
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/emails2.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">
Free US phone number – bring your business closer to your US customers with a FREE US phone number
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/map.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">
Free US business address – this allows you to receive mail in the US and we’ll even scan and forward your mail to you for four months at no cost
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/people.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">Personalized company binder
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/guarentee2.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">
Personalized corporate seal
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/laptop.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont">
20 personalized certificates, minutes and bylaws
                    </p>
                </div>
            </div>

             <hr style="height:1px;background:#BCBCBC;" />
             <p class="bodytitle" style="margin-bottom:0px;line-height:100%">Click on the button below to get the process started <font class="bodyfont" style="margin-top:4px;font-weight:bold;">– every minute you wait costs you a chance to do business more easily in the US. Imagine the opportunities passing you by right now, in the world’s largest economy.</font></p>

             <p class="bodytitle" style="margin-bottom:25px;margin-top:25px;font-size:19px;">THE PROCESS IS SIMPLE:-</p>
             <i style="margin-top:5px;color:green;margin-right:20px;font-size:18px;float:left;" class="fa fa-check"></i><p style="width:90%;float:left;line-height: 150%;font-family: 'OpenSans', sans-serif;color:#373737;font-size:18px;margin-bottom:25px;">Click on the button below, enter your relevant details as requested and 24 hours from now, you will be the proud owner of a US company. 
    
</p>

<i style="margin-top:5px;color:green;margin-right:20px;font-size:18px;float:left;" class="fa fa-check"></i><p style="width:90%;float:left;line-height: 150%;font-family: 'OpenSans', sans-serif;color:#373737;font-size:18px;margin-bottom:25px;">No filling out form after form after form. </p>

<i style="margin-top:5px;color:green;margin-right:20px;font-size:18px;float:left;" class="fa fa-check"></i><p style="width:90%;float:left;line-height: 150%;font-family: 'OpenSans', sans-serif;color:#373737;font-size:18px;margin-bottom:25px;">No waiting for weeks for paperwork to arrive. </p>

<i style="margin-top:5px;color:green;margin-right:20px;font-size:18px;float:left;" class="fa fa-check"></i><p style="width:90%;float:left;line-height: 150%;font-family: 'OpenSans', sans-serif;color:#373737;font-size:18px;margin-bottom:25px;">No calling US accountants at 3am because of the time difference. 

            </p>
            <i style="margin-top:5px;color:green;margin-right:20px;font-size:18px;float:left;" class="fa fa-check"></i><p style="width:90%;float:left;line-height: 150%;font-family: 'OpenSans', sans-serif;color:#373737;font-size:18px;margin-bottom:25px;">No need to even visit the US – we’ll take care of everything for you.

            </p>

        </div>
        <div class="col-md-4">
            <div class="well" style="margin-top:10px;border-radius: 4px; background-color:#DDDDDD;border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;padding-bottom:0px;">
                <div class="row">
                    <div style="margin-top:-19px;margin-left:4%;width:92.5%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;" class="col-md-12">
                        <p style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#3b3a3a;font-size:26px;text-align:center;margin-top:12px;">START A BUSINESS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                    <select>
                      <option selected value="select">Select entity</option>
                    </select>
					</div>
                        <br/>
                        <a href="#/order/pick1"><img src="img/button2.png" style="margin-left:12%;" /></a>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-left:4%;width:92.5%;background-color:#545454;height:62px;" class="col-md-12">
                        <p style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:24px;text-align:center;margin-top:12px;">100% GUARANTEE</p>
                    </div>
                </div>
            </div>
            <div class="well" style="background-color:#F2F2F2;margin-top:30px;border-radius: 4px; border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;">
                <h1 style="text-align:center;margin-top:5px;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;"><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;font-size:28px;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="margin-left:25%;" src="img/review.png"/>
                 <br/>
                 <p style="line-height: 160%;margin-left:10%;margin-right:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tincidunt..<i class="fa fa-quote-right"></i></p>
                 <p style="font-weight:bold;margin-left:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->
 <div class="row" style="height:356px;padding:0px;background-image: url('img/bottombannerbg.png');">
        <div style="margin-top:40px;"class="col-lg-8 col-lg-offset-2">
            <h1 style="font-family: 'OpenSans', sans-serif;color:#010101;font-size:24px;" ><i class="fa fa-check fa-2x"></i> <font style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ff4e00;font-size:40px;">Yes! </font> I want to get into the US market as quickly as possible without having to fill out piles of forms, or even visi the USA at all. Please take care of all the paperwork for me so I can capitalize on the biggest market in the world with a US Company and Bank Account for only <font style="font-family: 'OpenSans', sans-serif;color:#ff4e00;">$1599</font></h1><br/>
            <p style="text-align:center;"><a href="#/order/pick1"><img src="img/startbutton2.png"/></a></p>
        </div>
</div>