<div class="row" style="height:315px;margin-top:-20px;background: url('img/companybanner.jpg') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

    <div class="col-md-12">
		<div class="desktop-only" style="margin-top:190px;width:100%;"></div>
        <h1 class="bodytitlewhite text-center" style="text-shadow: 1px 1px black;margin-top:40px;margin-bottom:0px">YOU COULD BE DOING BUSINESS IN THE WORLDS BIGGEST MARKET PLACE</h1>
        <h1 class="bodytitlewhite text-center" style="text-shadow: 1px 1px black;margin-top:4px">JUST 24 HOURS FROM NOW</h1>
    </div>

</div>
<!-- CONTENT
=================================-->
<div class="container" ng-controller="company_controller" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div class="col-md-8">
            <p class="bodyfont" style="margin-bottom:25px;">You’ve found a great business opportunity in The States – it might even be the opportunity of a lifetime. And a US Company would make things a lot easier – but you don’t have weeks to spare, to work with a US based accountant, to set up your structure. By then it’ll be too late.
            </p>

            <p class="bodyfont" style="margin-bottom:25px;">This is why we guarantee your US Company will be set up and operational within 24 hours. We’ll take care of all the paperwork, register your company, and get you up and running in the US…</p>

            <p class="bodytitle" style="margin-bottom:25px;font-size:19px;font-weight:bold;">And you don’t even have to set foot on US soil for a minute</p>
            <p class="bodyfont" style="margin-bottom:25px;">
                <strong>It’s true</strong> – we can do all the legwork, while you keep doing what you do best – running your business. And there’s no reason why you can’t expand that business into the USA – while avoiding the issues and delays that plague non-US businesses trying to make money in America.</p>
            <img class="img-responsive" src="img/companyblurb.png" />
            <br/>
            <br/>
            <p class="bodytitle" style="margin-bottom:25px;font-size:19px;">Here's what you get as part of the service:</p>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/headphone.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">Free 15 minute phone consultation with our expert CPA – to advise you on everything you need to know about running a US company
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/24hr.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">24-hr service – get your US company up and running fast
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/home.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">US company formation for non-US residents without having to personally visit the USA
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/page.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">You’ll be incorporated in Delaware – the most tax-friendly state in the US
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/guarentee.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">Certificate Of Formation with a Certified Copy
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/cash.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">EIN – Employer Identification Number – Required for taxation purposes – even if you never pay a cent of tax to the US
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/writing.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">Free Registered Agent for 12 months – As your registered agent, we will complete and file all the paperwork necessary to manage your US Corporation, it’s all done for you
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/emails2.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        Free US phone number – bring your business closer to your US customers with a FREE US phone number
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/map.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        Free US business address – this allows you to receive mail in the US and we’ll even scan and forward your mail to you for four months at no cost
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                 <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/people.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">Personalized company binder
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/guarentee2.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        Personalized corporate seal
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1 col-xs-2"><img class="img-responsive" src="img/laptop.png" /></div>
                <div class="col-md-11 col-xs-10">
                    <p class="bodyfont">
                        20 personalized certificates, minutes and bylaws
                    </p>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<hr style="height:1px;background:#BCBCBC;" />
					<p class="bodytitle2" style="font-size:41px;margin-bottom:0px;line-height:100%">CLICK ON THE BUTTON BELOW TO GET THE PROCESS STARTED <font class="bodytitle2" style="margin-top:4px;font-size:19px;color:#171717;">– every minute you wait costs you a chance to do business more easily in the US. Imagine the opportunities passing you by right now, in the world’s largest economy.</font></p>
					<p class="bodytitle2" style="margin-bottom:25px;margin-top:25px;font-size:25px;">THE PROCESS IS SIMPLE:-</p>
				</div>
						 </div>
				<div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div>
				<div class="col-md-11 col-xs-10">
					<p class="bodyfont" style="margin-bottom:25px;">Click on the button below, enter your relevant details as requested and 24 hours from now, you will be the proud owner of a US company.
					</p>
				</div>
						 </div>
		 <div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div>
				<div class="col-md-11 col-xs-10">	
					<p class="bodyfont" style="margin-bottom:25px;">No filling out form after form after form. </p>
				</div>
						 </div>
		 <div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div>
				<div class="col-md-11 col-xs-10">
					<p class="bodyfont" style="margin-bottom:25px;">No waiting for weeks for paperwork to arrive. </p>
				</div>
						 </div>
		 <div class="row">
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div>
				<div class="col-md-11 col-xs-10">
					<p class="bodyfont" style="margin-bottom:25px;">No calling US accountants at 3am because of the time difference.
					</p>
				</div>	
		 </div>
		 <div class="row">				
				<div class="col-md-1 col-xs-1">
					<i class="fa fa-check tick"></i>
				</div>
				<div class="col-md-11 col-xs-10">
					<p class="bodyfont" style="margin-bottom:25px;">No need to even visit the US – we’ll take care of everything for you.
					</p>
				</div>
						 </div>
		 <div class="row">
			</div>
        </div>
        <div class="col-md-4">
            <div class="well homewell" style="margin-top:0px;">
            <div class="row">
                <div class="col-md-12"><div style="margin-top:-19px;width:100%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;">
					<p style="font-family: 'KozGoPro-Bold', sans-serif;color:#3b3a3a;font-size:28px;text-align:center;margin-top:18px;">START A BUSINESS</p>
				</div></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
					<div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                    <select>
                      <option selected value="select">Select entity</option>
                    </select>
					</div>
                    <br/>
                    <a href="#/order/pick1"><img src="img/button2.png" style=" display: block;margin-left:auto;margin-right:auto;"/></a>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-12"><div class="guaranteecontainer"><p class="guarantee">100% GUARANTEE</p></div></div>
            </div>
            </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro-Light', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr class="hrline3"/>
                 <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
                 <p class="quote"><i class="fa fa-quote-left" style="color:#B8B8B8;"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt.. <i style="color:#B8B8B8;" class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:40px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             <p style="text-align:center;margin-top:30px;"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->
 <div class="row" style="min-height:356px;padding:20px;background: url('img/bottombannerbg.png') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; ">
        <div style="margin-top:40px;text-align:center;" class="col-md-8 col-md-offset-2 col-xs-12">
            <h1 style="font-family: 'OpenSans-Light', sans-serif;color:#010101;font-size:24px;" ><i class="fa fa-check fa-2x"></i> <font style="font-family: 'OpenSans-Bold', sans-serif;color:#ff4e00;font-size:40px;">Yes! </font> I want to get into the US market as quickly as possible without having to fill out piles of forms, or even visi the USA at all. Please take care of all the paperwork for me so I can capitalize on the biggest market in the world with a US Company and Bank Account for only <font style="font-family: 'OpenSans-Bold', sans-serif;color:#ff4e00;">$1599</font></h1><br/>
            <p style="text-align:center;"><a href="#/order/pick1"><img class="img-responsive" src="img/startbutton2.png"/></a></p>
        </div>
</div>