<div class="row" style="height:315px;width:100%;margin-top:-20px;margin-right:0px;margin-left:0px;padding:0px;background-image: url('img/contactbanner.png');">

    <div class="col-md-12">
        <h1 class="bodytitlewhite text-center" style="margin-top:200px;margin-bottom:0px">GOT QUESTIONS?</h1>
        <h1 class="bodytitlewhite text-center" style="margin-top:4px">THE ANSWERS ARE HERE</h1>
    </div>
 
</div>
<!-- CONTENT
=================================-->
<div class="container" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <p class="bodyfont" style="margin-bottom:25px;">There’s no doubt you have a whole pile of questions about this whole thing – it’s not every day you find a resource which can get you in business in the US so quickly, for such a modest fee. Fortunately there are a number of options.
            </p>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/question.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont"><strong>Read our F.A.Q. –</strong> Frequently Asked Questions – by clicking here. Most of the answers you’re looking for will be on this page.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/headphone.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont"><strong>Remember – </strong>you get a FREE 15 minute consultation with out specialist accountant, who will advise you on every aspect you need to think about when incorporating in the US. No charge.
                    </p>
                </div>
            </div>
            <div class="row" style="margin-bottom:25px;">
                <div class="col-md-1"><img class="img-responsive" src="img/phone3.png" /></div>
                <div class="col-md-11">
                    <p class="bodyfont"><strong>
Contact Us – </strong>If you’re still not quite sure, feel free to use the form on this page to send us a message. Please describe your specific question in as much detail as you can, and make sure our emails are not mistakenly going into your ‘SPAM’ folder.
                    </p>
                </div>
            </div>

            <div class="well" style="margin-top:35px;margin-bottom:45px;">
                <div class="row" style="margin-top:0px;">
                    <div class="col-md-7" style="margin-top:20px;">
                        <p class="bodyfontbig" style="margin-bottom:0px;font-size:28px;margin-top:0px;">There you have it -</p>
                        <p class="bodytitle" style="margin-top:4px;margin-bottom:25px;font-size:28px;">all your questions answered.</p>
                        <p class="bodyfont">If you’re serious about breaking into the huge US market – you have nothing to lose, unless you pay too much and waste time with another service who can’t match our capabilities, or our low prices. Simply get the ball rolling right now, while it’s fresh in your mind, and we’ll take care of everything. </p>
                    </div>
                    <div class="col-md-5"><img class="img-responsive" src="img/contactimage.png" /></div>
                </div>
            </div>

            <h1 style="margin-top:-15px;text-align:center;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;">CONTACT <font style="font-weight:bold">US</font></h1>
            <hr style="width:100px;height:1px;background:#BCBCBC;" />
            <br/>


            <div class="row" style="margin-bottom:15px">
                <div class="col-md-6">
                    <input placeholder="First Name" type="text" class="rounded" style="width:100%"/>
                </div>
                <div class="col-md-6">
                    <input placeholder="Last Name" type="text" class="rounded" style="width:100%" />
                </div>
            </div>
            <div class="row" style="margin-bottom:15px">
                <div class="col-md-6">
                    <input placeholder="Phone No" type="text" class="rounded" style="width:100%"/>
                </div>
                <div class="col-md-6">
                    <input placeholder="Email" type="text" class="rounded" style="width:100%" />
                </div>
            </div>
            <div class="row" style="margin-bottom:15px">
                <div class="col-md-12"></div>
                <textarea placeholder="Message" type="text" class="rounded" style="height:200px;margin-left:13px;margin-right:10px;width:97%"/>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pull-right"><img src="img/submitbutton.png" class="pull-right"/></div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="well" style="margin-top:10px;border-radius: 4px; background-color:#DDDDDD;border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;padding-bottom:0px;">
                <div class="row">
                    <div style="margin-top:-19px;margin-left:4%;width:92.5%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;" class="col-md-12">
                        <p style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#3b3a3a;font-size:26px;text-align:center;margin-top:12px;">START A BUSINESS</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <select style="margin-left:12%;padding:5px;height:40px;width:75%;">
                            <option selected value="select">Select entity</option>
                        </select>
                        <br/>
                        <br/>
                        <a href="#/order/pick1"><img src="img/button2.png" style="margin-left:12%;" /></a>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-left:4%;width:92.5%;background-color:#545454;height:62px;" class="col-md-12">
                        <p style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:24px;text-align:center;margin-top:12px;">100% GUARANTEE</p>
                    </div>
                </div>
            </div>
            <div class="well" style="background-color:#F2F2F2;margin-top:30px;border-radius: 4px; border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;">
                <h1 style="text-align:center;margin-top:5px;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;"><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;font-size:28px;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="margin-left:25%;" src="img/review.png"/>
                 <br/>
                 <p style="line-height: 160%;margin-left:10%;margin-right:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tincidunt..<i class="fa fa-quote-right"></i></p>
                 <p style="font-weight:bold;margin-left:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->