
<!-- CONTENT
=================================-->
<div ng-controller="faq_controller" class="container" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <h1 class="faqtitle">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. QUISQUE EGESTAS DOLOR NON SEM ULLAMCORPER<h1>
            <p class="faqfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor non sem ullamcorper aliquet. Phasellus tincidunt non augue blandit ornare. Vestibulum sagittis, mi ac pretium interdum, diam sem egestas nulla, nec egestas turpis elit non lectus. Curabitur vel neque viverra tortor tincidunt efficitur nec vitae sapien. In mattis rutrum tortor in blandit. Nullam a sollicitudin nisl. 
            </p>
            <h1 class="faqtitle2" style="font-size:18px;margin-top:20px;">Q - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor<h1>
            <p class="faqfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor non sem ullamcorper aliquet. Phasellus tincidunt non augue blandit ornare. Vestibulum sagittis, mi ac pretium interdum, diam sem egestas nulla, nec egestas turpis elit non lectus. Curabitur vel neque viverra tortor tincidunt efficitur nec vitae sapien. In mattis rutrum tortor in blandit. Nullam a sollicitudin nisl. 
            </p>
            <h1 class="faqtitle2" style="font-size:18px;margin-top:20px;">Q - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor<h1>
            <p class="faqfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor non sem ullamcorper aliquet. Phasellus tincidunt non augue blandit ornare. Vestibulum sagittis, mi ac pretium interdum, diam sem egestas nulla, nec egestas turpis elit non lectus. Curabitur vel neque viverra tortor tincidunt efficitur nec vitae sapien. In mattis rutrum tortor in blandit. Nullam a sollicitudin nisl. 
            </p>
            <h1 class="faqtitle2" style="font-size:18px;margin-top:20px;">Q - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor<h1>
            <p class="faqfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor non sem ullamcorper aliquet. Phasellus tincidunt non augue blandit ornare. Vestibulum sagittis, mi ac pretium interdum, diam sem egestas nulla, nec egestas turpis elit non lectus. Curabitur vel neque viverra tortor tincidunt efficitur nec vitae sapien. In mattis rutrum tortor in blandit. Nullam a sollicitudin nisl. 
            </p>
            <h1 class="faqtitle2" style="font-size:18px;margin-top:20px;">Q - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor<h1>
            <p class="faqfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas dolor non sem ullamcorper aliquet. Phasellus tincidunt non augue blandit ornare. Vestibulum sagittis, mi ac pretium interdum, diam sem egestas nulla, nec egestas turpis elit non lectus. Curabitur vel neque viverra tortor tincidunt efficitur nec vitae sapien. In mattis rutrum tortor in blandit. Nullam a sollicitudin nisl. 
            </p>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="well homewell" >
            <div class="row">
               <div class="col-md-12">
                  <div style="margin-top:-19px;width:100%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;">
                     <p style="font-family: 'KozGoPro-Bold', sans-serif;color:#3b3a3a;font-size:28px;text-align:center;margin-top:18px;">START A BUSINESS</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <br/>
                  <div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                     <select>
                        <option selected value="select">Select entity</option>
                     </select>
                  </div>
                  <br/>
                  <a href="#/order/pick1"><img src="img/button2.png" style=" display: block;margin-left:auto;margin-right:auto;"/></a>
                  <br/>
                  <br/>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="guaranteecontainer">
                     <p class="guarantee">100% GUARANTEE</p>
                  </div>
               </div>
            </div>
         </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro-Light', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr class="hrline3"/>
                 <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
                 <p class="quote"><i class="fa fa-quote-left" style="color:#B8B8B8;"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt.. <i style="color:#B8B8B8;" class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:40px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             <p style="text-align:center;margin-top:30px;"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->