<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Institution Statistics</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Overview</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a href="#/statistics/location">
                    <h5>World Alumni Distribution
                    </h5>
                    </a>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <script type="text/javascript" src="vendors/maps/highchartscripts.js"/>
                    <div id="container" style="max-width: 1000px"></div>
                </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Job Sector Alumni Distribution</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                    <script type="text/javascript" src="vendors/highcharts/sectorsdrilldown.js"/>
                
                    <div id="sectorscontainer" style="max-width: 1000px; min-width: 310px; height: 400px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Radar Chart Example</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                      <script type="text/javascript" src="vendors/highcharts/topicsstacked.js"/>
                   <div id="topicscontainer" style="max-width:1000px; min-width: 310px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

