
<!-- CONTENT
=================================-->
 <div class="row" style="height:556px;margin-top:-20px;padding:0px;background-image: url('img/homebanner.jpg');background-repeat: no-repeat;background-position: top;background-size: 100% auto; ">
        <div class="container" style="margin-top:120px;">
            <h1 style="text-shadow: 1px 1px white;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#000000;font-size:31px;" >GET YOUR VERY OWN US COMPANY</h1>
            <h1 style="text-shadow: 1px 1px white;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#000000;font-size:50px;float:left;margin-top:-5px;" >SET UP WITHIN </h1> <h1 style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:white;font-size:50px;float:left;margin-top:-5px;margin-left:7px;text-shadow: 1px 1px black;" > 24 HOURS</h1>
            <h1 style="text-shadow: 1px 1px white;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#000000;font-size:18px;clear:both" >AND GET A US BANK ACCOUNT WITHOUT EVER SETTING FOOT ON US SOIL</h1>
        </div>

        <div class="container" style="margin-top:10px;">
             <a href="#/order/pick1"><img style="margin-bottom:40px;" src="img/button.png"/></a><br/>
          <img style="margin-right:20px;" src="img/mcafee.png"/>
            <img src="img/bbb.png"/>
        </div>
</div>

<div class="container" ng-controller="home_controller" style="margin-top:50px">
    <div class="row">
        <div class="col-md-4" style="padding-left:0px;">
            <div class="well homewell" style="padding-bottom:20px;">
                <a class="inlinelink" href="#/home"><i class="fa fa-home fa-lg linkicon"></i>HOME</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink"  href="#/bank"><i class="fa fa-bank fa-lg linkicon"></i>US BANK</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink"  href="#/company"><i class="fa fa-building fa-lg linkicon"></i>US COMPANY</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink" href="#/about"><i class="fa fa-user fa-lg linkicon"></i>ABOUT US</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink"  href="#/why"><i class="fa fa-globe fa-lg linkicon"></i>WHY DELAWARE?</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink"  href="#/faq"><i class="fa fa-question fa-lg linkicon"></i>FAQS</a>
                <hr style="height:1px;background:#BCBCBC;"/>
                <a class="inlinelink"  href="#/contact"><i class="fa fa-envelope fa-lg linkicon"></i>CONTACT US</a>
            </div>
            <div class="well homewell" >
            <div class="row">
                <div style="margin-top:-19px;margin-left:4%;width:92.5%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;" class="col-md-12"><p style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#3b3a3a;font-size:26px;text-align:center;margin-top:12px;">START A BUSINESS</p></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
					<div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                    <select>
                      <option selected value="select">Select entity</option>
                    </select>
					</div>
                    <br/>
                    <a href="#/order/pick1"><img src="img/button2.png" style="margin-left:12%;"/></a>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-12 guaranteecontainer"><p class="guarantee">100% GUARANTEE</p></div>
            </div>
            </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="margin-left:25%;" src="img/review.png"/>
                 <br/>
                 <p class="quote"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt..<i class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
        <div style="padding-left:40px;margin-top:20px;padding-right:0px;" class="col-md-8">
            <p class="bodyfont">If you’ve found a great opportunity to do business in the USA, but don’thave time to visit the US or fill out endless forms – we can help. GlobesCorp is a done-for-you incorporation service helping people from all over the world form companies and open bank accounts in the tax friendly state of Delaware.
            </p>
            <p class="bodyfont">
            Don’t mess around with cheap do-it-yourself pre-packaged kits, where one mistake on a form could cost you time and money – and potentially the opportunity to do business in The States. It’s faster, easier, more effective and guaranteed to have us take care of the paperwork for you – so you can focus on what you do best.
            </p>
            <br/>
            <hr class="hrline1"/>
            <h1 class="bodyheaderorange">7 REASONS WHY WE SHOULD FORM YOUR US<h1>
            <h1 class="bodyheaderblack" style="margin-top:-15px;">CORPORATION AND BANK ACCOUNT:</h1>
            <hr class="hrline2"/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/24hr.png"/> Companies formed within 24hrs - get started fast!</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/page.png"/> Delaware has the best tax climate for US business</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/cash.png"/> Free EIN application which you need for financial transactions</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/emails.png"/> Free US phone number and US address included</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/books.png"/> Full personalized company documentation provided</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/headphone.png"/> Free consultation with our CPA provided</p><br/>
            <p class="bodyfont"><img style="width:40px;margin-right:30px;" src="img/guarentee.png"/> Backed by our full 100% money back guarantee</p><br/>
            <br/>
            <hr class="hrline1"/>
            <h1 class="bodyheaderorange">IF YOU'RE GOING TO DO BUSINESS IN THE STATES<h1>
            <h1 class="bodyheaderblack" style="margin-top:-15px;">YOU'LL NEED A US BUSINESS BANK</h1>
            <h1 class="bodyheaderblack" style="margin-top:-10px;">ACCOUNT TOO</h1>
             <hr class="hrline2"/>
            <br/>
            <p class="bodyfont">If you go into the US market with your US corporation, but no bank account – you’re making it hard for yourself. Just imagine – you go in with your offer and make a large number of sales –but your new customers have to send money to an overseas account? Because without a US bank account you won’t be able to deposit checks or take credit cards.
            </p>
            <br/>
            <p class="bodyfont">
            The best part is – we can do all the paperwork for you – just like your new US company, you do not have to visit the United States in person to open your account. And we use the well-respected Bank Of America for business accounts, so you don’t have to risk your business on a fly-by-night operation that might be gone tomorrow.</p>
            <br/>
            <hr class="hrline1"/>
            <h1 class="bodyheaderorange" style="margin-top:30px;"><font class="bodyheaderblack" style="margin-top:-15px;">TAKE ADVANTAGE</font> OF OUR PREMIUM DONE FOR YOU PACKAGE - YOUR INSTANT US BUSINESS PACKAGE CONSISTS OF:<h1>
            <hr class="hrline2"/>
			<p class="bodyfont"><i class="fa fa-chevron-right"></i> A US company registered in Delaware (the most tax-friendly state in the US), all paperwork done, new company details sent to you within 24 hours. Regular discounted price: $899. <font style="font-family: 'OpenSans', sans-serif;color:#ff4e00;">Learn more..</font></p>
             <p class="bodyfont"><i class="fa fa-chevron-right"></i> 
            A US Business Bank Account opened at the respected Bank Of America – making it much easier for your new US customers to make payment to you. Regular discounted price: $999. <font style="font-family: 'OpenSans', sans-serif;color:#ff4e00;">Learn more..</font></p>
             <p class="bodyfont">If you were to hire an accountant to put all this together for you, their fees would amount to upwards of $5,000, and then some. Not only that – you’d be waiting weeks or even months for your US Company to be set up, your preferred company name to be registered, for the process to be completed, paperwork sent to you, do you really have this amount of time to waste on red tape?</p>
             <p class="extrabodyfont">GET YOUR US COMPANY SET UP TODAY, AND YOUR US BANK ACCOUNT,FOR ONLY $1599 – SAVE $299 AND WEEKS OF LOST US BUSINESS OPPORTUNITIES
            </p>
            <br/>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->
 <div class="row" style="height:356px;padding:0px;background-image: url('img/bottombannerbg.png');">
        <div style="margin-top:40px;"class="col-lg-8 col-lg-offset-2">
            <h1 style="font-family: 'OpenSans-Light', sans-serif;color:#010101;font-size:24px;" ><i class="fa fa-check fa-2x"></i> <font style="font-weight:bold;font-family: 'OpenSans-Bold', sans-serif;color:#ff4e00;font-size:40px;">Yes! </font> I want to get into the US market as quickly as possible without having to fill out piles of forms, or even visi the USA at all. Please take care of all the paperwork for me so I can capitalize on the biggest market in the world with a US Company and Bank Account for only <font style="font-family: 'OpenSans-Bold', sans-serif;color:#ff4e00;">$1599</font></h1><br/>
            <p style="text-align:center;"><a href="#/order/pick1"><img src="img/startbutton2.png"/></a></p>
        </div>
</div>