
<!-- CONTENT
=================================-->
<div class="container">
    <div class="row">
        <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
    </div>
    <div class="row">
        <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
        <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
        <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
        <div class="col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
        <div class="col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
        <div class="col-lg-4 col-sm-12"><div class="well">4 cols, 12 small cols</div></div>
    </div>
  	<div class="row">
        <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
        <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
        <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
      	<div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
    </div>
  	<div class="row">
        <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
        <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
        <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
      	<div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
    </div>
  	<hr>
  	<a href="http://bootply.com/73778">Edit on Bootply</a>
</div>
<hr>
<!-- /CONTENT ============-->