
<!-- CONTENT
=================================-->
<div class="container" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <h1 class="bodytitle">IT SEEMS TO BE THE ANSWER TO EVERYONE’S QUESTION ON INCORPORATING IN AMERICA – SET UP YOUR COMPANY IN THE STATE OF DELAWARE.<h1>
            <p class="bodyfont">So what is it that attracts some of the biggest names in global business to incorporate in this modest US state? Names like:
            </p>
            <div class="row">
               <div class="col-md-4"><img class="img-responsive" src="img/ford.png"/></div>
               <div class="col-md-4"><img class="img-responsive" src="img/cola.png"/></div>
               <div class="col-md-4"><img class="img-responsive" src="img/walmart.png"/></div>
            </div>
            <div class="row" style="margin-bottom:25px;">
               <div class="col-md-4"><img class="img-responsive" src="img/apple.png"/></div>
               <div class="col-md-4"><img class="img-responsive" src="img/google.png"/></div>
               <div class="col-md-4"></div>
            </div>
             <p class="bodyfont">All these companies and <font style="font-weight:bold;">hundreds of thousands</font> more, from all corners of the planet, are incorporated in Delaware.
            </p>
             <p class="bodyfont">More than 60% of the <font style="color:#f65314;">‘Fortune 500’</font> and over half of all companies traded on the NYSE and NASDAQ are chartered as Delaware corporations. In fact, there are more companies in Delaware than people
            </p>

            <p class="bodyfontbig">So what’s the deal? Why is it so?</p>

            <p class="bodyfont">There are of course several large benefits to incorporating your US company in Delaware, rather than any other state in the US.</p>
            <div class="well" style="margin-top:35px;margin-bottom:45px;">
               <p class="bodyfont"><font style="font-weight:bold;">For example -</font> and this is one of the biggest reasons - Delaware is a Tax Haven. Delaware does not have the onerous taxation structures that other states have. There is no sales tax in Delaware. No state corporate income tax on goods and services provided outside the state of Delaware.
               </p>
               <div class="row" style="margin-top:5px;">
                  <div class="col-md-7" style="margin-top:20px;"><i style="margin-top:5px;color:green;margin-right:5px;font-size:18px;float:left;" class="fa fa-check"></i><p class="bodyfont" style="width:92%;float:left;font-weight:bold;margin-bottom:25px;">No Taxes on business transactions.</p>

<i style="margin-top:5px;color:green;margin-right:5px;font-size:18px;float:left;" class="fa fa-check"></i><p class="bodyfont" style="width:92%;float:left;font-weight:bold;margin-bottom:25px;">No use tax inventory, no unitary tax.</p>

<i style="margin-top:5px;color:green;margin-right:5px;font-size:18px;float:left;" class="fa fa-check"></i><p class="bodyfont" style="width:92%;float:left;font-weight:bold;margin-bottom:25px;">No state property taxes, no inheritance tax.</p>

<i style="margin-top:5px;color:green;margin-right:5px;font-size:18px;float:left;" class="fa fa-check"></i><p class="bodyfont" style="width:92%;float:left;font-weight:bold;margin-bottom:25px;">No tax on income of intangible property.</p></div>
                  <div class="col-md-5"><img class="img-responsive" src="img/calclator.png"/></div>
               </div>
            </div>
            
            <p class="bodyfont" style="margin-bottom:25px"><font style="font-weight:bold;">Then there’s Delaware’s privacy laws –</font> since the state of Delaware allows you to keep the members of your company private, you do not actually need to provide them with any personal documentation to open your company.</p>

            <p class="bodyfont" style="margin-bottom:25px">You agree that it’s a no-brainer to do business in the US through a company or LLC – and the best state in America to register your company is Delaware.</p>

            <p class="bodyfont" style="font-weight:bold;">To get into the massive US market, and to get a Delaware company of your own set up for you, within 24 hours from now, <fonts style="color:#f65314">click here</font></p>

        </div>
        <div class="col-md-4">
            <div class="well" style="margin-top:10px;border-radius: 4px; background-color:#DDDDDD;border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;padding-bottom:0px;">
            <div class="row">
                <div style="margin-top:-19px;margin-left:4%;width:92.5%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;" class="col-md-12"><p style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#3b3a3a;font-size:26px;text-align:center;margin-top:12px;">START A BUSINESS</p></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br/>
                    <select style="margin-left:12%;padding:5px;height:40px;width:75%;">
                      <option selected value="select">Select entity</option>
                    </select>
                    <br/>
                    <br/>
                    <img src="img/button2.png" style="margin-left:12%;"/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                  <div style="margin-left:4%;width:92.5%;background-color:#545454;height:62px;" class="col-md-12"><p style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ffffff;font-size:24px;text-align:center;margin-top:12px;">100% GUARANTEE</p></div>
            </div>
            </div>
            <div class="well" style="background-color:#F2F2F2;margin-top:30px;border-radius: 4px; border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;">
                 <h1 style="text-align:center;margin-top:5px;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;"><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;font-size:28px;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="margin-left:25%;" src="img/review.png"/>
                 <br/>
                 <p style="line-height: 160%;margin-left:10%;margin-right:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tincidunt..<i class="fa fa-quote-right"></i></p>
                 <p style="font-weight:bold;margin-left:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->