
<!-- CONTENT
=================================-->
<div class="container" ng-controller="why_controller" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <h1 class="bodytitle">IT SEEMS TO BE THE ANSWER TO EVERYONE’S QUESTION ON INCORPORATING IN AMERICA – SET UP YOUR COMPANY IN THE STATE OF DELAWARE.<h1>
            <p class="bodyfont">So what is it that attracts some of the biggest names in global business to incorporate in this modest US state? Names like:
            </p>
            <div class="row">
               <div class="col-md-4 col-xs-4"><img class="img-responsive" src="img/ford.png"/></div>
               <div class="col-md-4 col-xs-4"><img class="img-responsive" src="img/cola.png"/></div>
               <div class="col-md-4 col-xs-4"><img class="img-responsive" src="img/walmart.png"/></div>
            </div>
            <div class="row" style="margin-bottom:25px;">
               <div class="col-md-4 col-xs-4"><img class="img-responsive" src="img/apple.png"/></div>
               <div class="col-md-4 col-xs-4"><img class="img-responsive" src="img/google.png"/></div>
               <div class="col-md-4 col-xs-4"></div>
            </div>
             <p class="bodyfont">All these companies and <font style="font-weight:bold;">hundreds of thousands</font> more, from all corners of the planet, are incorporated in Delaware.
            </p>
             <p class="bodyfont">More than 60% of the <font style="color:#f65314;">‘Fortune 500’</font> and over half of all companies traded on the NYSE and NASDAQ are chartered as Delaware corporations. In fact, there are more companies in Delaware than people
            </p>

            <p class="bodyfontbig">So what’s the deal? Why is it so?</p>

            <p class="bodyfont">There are of course several large benefits to incorporating your US company in Delaware, rather than any other state in the US.</p>
            <div class="well" style="margin-top:35px;margin-bottom:45px;">
               <p class="bodyfont"><font style="font-weight:bold;">For example -</font> and this is one of the biggest reasons - Delaware is a Tax Haven. Delaware does not have the onerous taxation structures that other states have. There is no sales tax in Delaware. No state corporate income tax on goods and services provided outside the state of Delaware.
               </p>
               <div class="row" style="margin-top:5px;">
                  <div class="col-md-7"><i class="fa fa-check tick"></i><p class="bodyfont" style="margin-bottom:25px;font-weight:bold;">No taxes on business transactions.</p>

<i class="fa fa-check tick"></i><p class="bodyfont" style="margin-bottom:25px;font-weight:bold;">No use tax inventory, no unitary tax.</p>

<i class="fa fa-check tick"></i><p class="bodyfont" style="margin-bottom:25px;font-weight:bold;">No state property taxes, no inheritance tax.</p>

<i class="fa fa-check tick"></i><p class="bodyfont" style="margin-bottom:25px;font-weight:bold;">No tax on income of intangible property.</p></div>
                  <div class="col-md-5"><img class="img-responsive" src="img/calclator.png"/></div>
               </div>
            </div>
            
            <p class="bodyfont" style="margin-bottom:25px"><font style="font-weight:bold;">Then there’s Delaware’s privacy laws –</font> since the state of Delaware allows you to keep the members of your company private, you do not actually need to provide them with any personal documentation to open your company.</p>

            <p class="bodyfont" style="margin-bottom:25px">You agree that it’s a no-brainer to do business in the US through a company or LLC – and the best state in America to register your company is Delaware.</p>

            <p class="bodyfont" style="font-weight:bold;">To get into the massive US market, and to get a Delaware company of your own set up for you, within 24 hours from now, <fonts style="color:#f65314">click here</font></p>

        </div>
        <div class="col-md-4">
            <div class="well homewell" >
            <div class="row">
               <div class="col-md-12">
                  <div style="margin-top:-19px;width:100%;background-image:url('img/boxheaderbg.png');height:62px;background-repeat: repeat-x;">
                    <p style="font-family: 'KozGoPro-Bold', sans-serif;color:#3b3a3a;font-size:28px;text-align:center;margin-top:18px;">START A BUSINESS</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <br/>
                  <div class="styled-select" style="margin-left:12%;padding:8px;height:50px;width:75%;">
                     <select>
                        <option selected value="select">Select entity</option>
                     </select>
                  </div>
                  <br/>
                  <a href="#/order/pick1"><img src="img/button2.png" style=" display: block;margin-left:auto;margin-right:auto;"/></a>
                  <br/>
                  <br/>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="guaranteecontainer">
                     <p class="guarantee">100% GUARANTEE</p>
                  </div>
               </div>
            </div>
         </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro-Light', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr class="hrline3"/>
                 <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
                 <p class="quote"><i class="fa fa-quote-left" style="color:#B8B8B8;"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt.. <i style="color:#B8B8B8;" class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:40px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             <p style="text-align:center;margin-top:30px;"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->