<!-- CONTENT
=================================-->
<div class="container" ng-controller="order_pick1_controller" style="margin-top:60px;margin-bottom:60px">
    <div class="row">

        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <p class="bodytitle" style="margin-bottom:4px;font-size:28px;font-weight:normal">GET YOUR DONE-FOR-YOU DELAWARE CORPORATION AND BANK OF AMERICA BUSINESS ACCOUNT TODAY
            </p>
            <p class="bodytitle" style="margin-top:4px;font-size:28px;margin-bottom:25px;color:#373737">YOU CAN FORM YOUR BUSINESS IN 10 MINUTES OR LESS
            </p>

            <p class="bodyfont" style="margin-bottom:25px;">If you’re ready to take advantage of the huge, free-spending US market – you’re in the right place. We do all the paperwork for you – it’s simply a matter of registering your details here, and waiting for your new US company to be formed within 24 hours – no flights, no signing forms, no hassle, no time wasted.</p>

            <div class="well othercontainer">
            <div class="row">
                <div class="col-md-12">
                    <p class="bodyfont" style="font-weight:bold;margin-top:8px;float:left;margin-right:15px;">Select an Entity Type</p>
					<div class="styled-select" style="margin-top:-4px;height:50px;float:left;width:70%;">
						<select style="width:100%;padding-top:10px;height:40px;">
						  <option selected value="select">Limited Liability Company (LLC)</option>
						</select>
					</div>
                    <br/>
                </div>
            </div>
            </div>
            <img src="img/button.png" class="img-responsive pull-right"/>

        </div>
        <div class="col-md-4">
            <div class="well" style="background-color:#F2F2F2;margin-top:10px;border-radius: 4px; border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;">
                <h1 style="text-align:center;margin-top:5px;font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;"><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;font-size:28px;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="margin-left:25%;" src="img/review.png"/>
                 <br/>
                 <p style="line-height: 160%;margin-left:10%;margin-right:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tincidunt..<i class="fa fa-quote-right"></i></p>
                 <p style="font-weight:bold;margin-left:10%;font-family: 'OpenSans', sans-serif;color:#525252;font-size:16px;">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->
 <div class="row" style="height:356px;padding:0px;background-image: url('img/bottombannerbg.png');">
        <div style="margin-top:40px;"class="col-lg-8 col-lg-offset-2">
            <h1 style="font-family: 'OpenSans', sans-serif;color:#010101;font-size:24px;" ><i class="fa fa-check fa-2x"></i> <font style="font-weight:bold;font-family: 'OpenSans', sans-serif;color:#ff4e00;font-size:40px;">Yes! </font> I want to get into the US market as quickly as possible without having to fill out piles of forms, or even visi the USA at all. Please take care of all the paperwork for me so I can capitalize on the biggest market in the world with a US Company and Bank Account for only <font style="font-family: 'OpenSans', sans-serif;color:#ff4e00;">$1599</font></h1><br/>
            <p style="text-align:center;"><img src="img/startbutton2.png"/></p>
        </div>
</div>