<!-- CONTENT
=================================-->
<div class="container" ng-controller="order_details_controller" style="margin-top:40px;margin-bottom:60px">
    <div class="row">
        <div style="padding-left:40px:padding-right:20px;" class="col-md-8">
            <a href="#/order/pick2"><img style="margin-bottom:10px;" src="img/backbutton.png"/></a>
            <p class="bodyfont" style="font-size:32px;font-weight:bold;margin-bottom:10px;">Limited Liability Company (LLC)</p>

            <div class="well formcontainer">
            <p class="bodytitle" style="font-size:24px">Contact information for this order</p>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Email : <small>(required)</small></p>
                    <input placeholder="Please enter your email address" type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
                <div class="col-md-6 col-xs-6">
                    <br/><br/><br/>
                    <p class="bodyfont" style="font-size:13px;">We Respect Your Privacy. Your information will never be sold to third parties for marketing purposes</p>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <p class="bodyfont" style="font-weight:bold;">First Name : <small>(required)</small></p>
                    <input  type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p class="bodyfont" style="font-weight:bold;">Last Name : <small>(required)</small></p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Phone :</p>
                    <input  type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
                <div class="col-md-6 col-xs-6">
                   <br/>
                    <p class="bodyfont" style="font-weight:bold;">Evening Phone :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <br/><br/>
            </div>
            <div class="well formcontainer">
            <p class="bodytitle" style="font-size:24px">Company information</p>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Desired Name : <small>(required)</small></p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Alternative Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                  <br/>
                    <p class="bodyfont" style="font-weight:bold;">Business Category : <small>(required)</small></p>
                    <div class="styled-select" style="width:100%;padding-left:0px;height:40px">
						<select style="width:100%;margin-top:-3px;margin-left:0px;height:40px">
						  <option selected value="select">Please select business category</option>
						</select>
					</div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Business Description :</p>
                    <textarea  class="lessrounded" style="width:100%;height:150px" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Authorized Shares :</p>
                    <input type="text" value="1500" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Par Value :</p>
                    <input type="text" value="0.01" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            </div>
            </br></br>
            <div class="well formcontainer">
            <p class="bodytitle" style="font-size:24px">Company address</p>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Business address 1 :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">Business address 2 :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                  <br/>
                    <p class="bodyfont" style="font-weight:bold;">City :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
                <div class="col-md-3 col-xs-3">
                     <br/>
                     <p class="bodyfont" style="font-weight:bold;">State :</p>
                     <div class="styled-select" style="width:100%;padding-left:0px;height:40px">
						<select style="width:110%;margin-top:-3px;margin-left:0px;height:40px">
						  <option selected value="select">Select state</option>
						</select>
					</div>
                    <br/>
                </div>
                <div class="col-md-3 col-xs-3">
                     <br/>
                     <p class="bodyfont" style="font-weight:bold;">Zip :</p>
                     <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;">County :</p>
                    <input  class="lessrounded" style="width:100%;" />
                    <br/>
                </div>
                 <div class="col-md-6 col-xs-6">
                    <br/>
                    <br/>
                </div>
            </div>
            </div>
            <div class="well formcontainer">
				<p class="bodytitle" style="font-size:24px">Registered Agent information</p>
				<div class="row">
					<div class="col-md-12 col-xs-12">
						 <p class="bodyfont"><input type="radio" name="radio1" value="radio1"> Use GlobesCorp as my Registered Agent ($149/yr. 1st year FREE, cancel anytime) </p>
						  <p class="bodyfont"><input type="radio" name="radio2" value="radio2"> I will provide a Registered Agent</p>
					</div>
				</div>
            </div>
             <div class="well formcontainer">
				<p class="bodytitle" style="font-size:24px">Director information</p>
				<div class="row">
					<div class="col-md-6 col-xs-6">
						<br/>
						<p class="bodyfont" style="font-weight:bold;">First Name :</p>
						<input type="text" class="lessrounded" style="width:100%" />
						<br/>
					</div>
				   <div class="col-md-6 col-xs-6">
						<br/>
						<p class="bodyfont" style="font-weight:bold;">Last Name :</p>
						<input type="text" class="lessrounded" style="width:100%" />
						<br/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-6">
						<br/>
						<p class="bodyfont" style="font-weight:bold;">Address 1 :</p>
						<input  class="lessrounded" style="width:100%;" />
						<br/>
					</div>
					 <div class="col-md-6 col-xs-6">
						<br/>
						<p class="bodyfont" style="font-weight:bold;">Address 2 :</p>
						<input  class="lessrounded" style="width:100%;" />
						<br/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-xs-6">
					  <br/>
						<p class="bodyfont" style="font-weight:bold;">City :</p>
						<input type="text" class="lessrounded" style="width:100%" />
						<br/>
					</div>
					<div class="col-md-3 col-xs-3">
						 <br/>
						 <p class="bodyfont" style="font-weight:bold;">State :</p>
						 <div class="styled-select" style="width:100%;padding-left:0px;height:40px">
							<select style="width:110%;margin-top:-3px;margin-left:0px;height:40px">
							  <option selected value="select">Select state</option>
							</select>
						</div>
						<br/>
					</div>
					<div class="col-md-3 col-xs-3">
						 <br/>
						 <p class="bodyfont" style="font-weight:bold;">Zip :</p>
						 <input type="text" class="lessrounded" style="width:100%" />
						<br/>
					</div>
					 <div class="col-md-12 col-xs-12 text-center"><br/><img  src="img/adddirector.png"/></div>
				</div>
            
            </div>
            <div class="well formcontainer">
            <p class="bodytitle" style="font-size:24px">Officer information</p>
            <div class="row">
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-size:18px;color:#919191;">President :</p>
                    <p class="bodyfont" style="font-weight:bold;">First Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;margin-top:12px;">Last Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-size:18px;color:#919191;">Vice President :</p>
                    <p class="bodyfont" style="font-weight:bold;">First Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;margin-top:12px;">Last Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-size:18px;color:#919191;">Secretary :</p>
                    <p class="bodyfont" style="font-weight:bold;">First Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;margin-top:12px;">Last Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <p class="bodyfont" style="font-size:18px;color:#919191;">Treasurer :</p>
                    <p class="bodyfont" style="font-weight:bold;">First Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
               <div class="col-md-6 col-xs-6">
                    <br/>
                    <br/>
                    <p class="bodyfont" style="font-weight:bold;margin-top:12px;">Last Name :</p>
                    <input type="text" class="lessrounded" style="width:100%" />
                    <br/>
                </div>
            </div>
            
            </div>
            <img src="img/continue.png" class="img-responsive pull-right"/>

        </div>
        <div class="col-md-4">
			<div class="row desktop-only" style="margin-top:92px;"></div>
			<div class="well" style="background-color:#EBEBEB;border-radius: 4px; border:1px solid #BCBCBC;padding-left:0px;padding-right:0px;">
				<div class="row" style="padding-left:50px;padding-right:50px;margin-top:0px;padding-top:0px;">
				<div class="col-md-12 col-xs-12 text-center">
				<h1 style="font-weight:bold;font-family: 'KozGoPro', sans-serif;color:#333333;font-size:28px;">Order Summary<h1>
				</div>
				</div>
                <div class="row" style="padding-left:50px;padding-right:90px;">
					<div class="col-md-10 col-xs-10 text-left">
						<p class="bodyfont" style="font-weight:bold;">CorpNet Complete:</p>
					</div>
					<div class="col-md-2 col-xs-2 text-left">
						<p class="bodyfont" style="font-weight:bold;">$249.00</p>
					</div>
				</div>
                <div class="row" style="padding-left:50px;padding-right:90px;">
					<div class="col-md-10 col-xs-10 text-left">
						<p class="bodyfont" style="font-weight:bold;">State Filing Fee:</p>
					</div>
					<div class="col-md-2 col-xs-2 text-left">
						<p class="bodyfont" style="font-weight:bold;">$250.00</p>
					</div>
				</div>
				<div class="row"  style="padding-left:50px;padding-right:90px;">
					<div class="col-md-10 col-xs-10 text-left">
						<p class="bodyfont" style="font-weight:bold;" >S & H:</p>
					</div>
					<div class="col-md-2 col-xs-2 text-left">
						<p class="bodyfont" style="font-weight:bold;">$29.00</p>
					</div>
				</div>
				<div class="row" style="margin-top:10px;padding-left:50px;padding-right:90px;">
					<div class="col-md-10 col-xs-10 text-left">
						<p class="bodyfont" style="font-weight:bold;">TOTAL:</p>
					</div>
					<div class="col-md-2 col-xs-2 text-left">
						<p class="bodyfont" style="font-weight:bold;color:#f65314">$528.00</p>
					</div>
				</div>
                <div class="row" style="margin-top:10px;"><div class="col-md-12 text-center"><a href=""><img class="img-responsive" src="img/pay.png"/></a></div></div>
                <div class="row" style="margin-top:10px;"><div class="col-md-12 text-center"><img class="img-responsive" src="img/secure.png"/></div></div>
            </div>
            <div class="well testimonial">
                 <h1 class="testimonialtitle" ><font style="margin-top:30px;font-family: 'KozGoPro', sans-serif;color:#f65314;">OUR</font> TESTIMONIALS<h1>
                 <hr style="width:200px;height:1px;background:#BCBCBC;"/>
                 <img style="display: block;margin-left: auto;margin-right: auto;" src="img/review.png"/>
                 <br/>
                 <p class="quote"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui mod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit tt..<i class="fa fa-quote-right"></i></p>
                 <p class="quoteperson">Roger Boothman</p><p style="text-align:center;margin-top:30px;">
                 <img style="margin-right:5px;" src="img/arrowleft.png"/> <img src="img/arrowright.png"/></p>
             </br>
             <p style="text-align:center"><img src="img/satisfaction.png"/> </p>
            </div>
        </div>
    </div>
</div>
<!-- /CONTENT ============-->